$primery: #fdf4eb;
$secondary: #f8cc9c;

$white: #ffffff;
$black: #101010;
$red: #da2c2c;

$cta: #ffb565;

$seark: #d0ddff;

$content: #372d24;
$stroke: #e6c29e;
$gray-border: #dddddd;
$gray-navigation: #f4f4f4;
$blue: #4d78ec;
$blue-dark: #476bce;
$blue-light: #75a3f3;
$blue-navigate: #3c60c3;

$header-height: 80px;
$profile-height: 60px;
$sidebar-width: 350px;
$sidebar-small-width: 270px;
$navigation-width: 260px;
$navigation-staffed-width: 80px;

$header-z-index: 1000;
